@model ImportExcelSql.Models.FileUploadViewModel
@{
    ViewData["Title"] = "File";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    h1 {
        padding: 5px;
        font-weight: 500;
    }
</style>
<h1>File Upload</h1>
<div class="row">
    <form asp-action="File" class="text-left form-validate" enctype="multipart/form-data">
        <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
            <div class="file-select-button" id="fileName">Upload Excel File</div>
            <input asp-for="XlsFile" type="file" id="chooseFile">
        </div>
        <div class="row">
            <br />
        </div>
        <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10">
            <button type="submit" class="btn btn-primary">Read Excel File</button>
        </div>
    </form>
</div>
<br />
<br />
<div class="row">
    <form method="post" asp-controller="Import2" asp-action="ImportOnly" class="text-left form-validate">
        <h1>
            Display Excel File Records
        </h1>
        <table class="table table-active table-bordered" width="100" name="StaffList" id="StaffList">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @{ int i = 0;}
                @foreach (var item in Model.EmployeeListViewModel)
                {
                    <tr>
                        <td>
                            <input asp-for="@item.FirstName" name="Model.EmployeeListViewModel[@i].FirstName" class="form-control" />
                        </td>
                        <td>
                            <input asp-for="@item.LastName" name="Model.EmployeeListViewModel[@i].LastName" class="form-control"/>
                        </td>
                        <td>
                            <input asp-for="@item.Email" name="Model.EmployeeListViewModel[@i].Email" class="form-control"/>
                        </td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
        <div class="form-group col-sm-6">
            <button type="submit" class="btn btn-primary">Import Excel File</button>
        </div>
    </form>
</div>

